

@font-face {
    font-family: 'Cairo_Play';
    src: url('../../style/Cairo_Play/CairoPlay-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
.popup{
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: white; 
    border: 2px solid #e4002b;
    z-index: 1000;
}
    
.btn:hover {
    background-color: #5b2e48;
}
  
.error-message {
   margin-top: 5px;
}

#label {
  align-items: left;
}
  
h2 {
    color: #e4002b;
    font-family: 'Cairo_Play';
}

h3 {
    font-family: 'Cairo_Play';
}
.btn {
    margin: 5px;
    align-items: center;
    background-color: #e4002b;
    border-radius: 0px;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Cairo_Play';
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    will-change: box-shadow, transform;
    font-size: 18px;
    border: 2px solid #e4002b;
    text-decoration: none;
}

.btn:hover {
    color: red;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 0.7s ease;
    z-index: 0;
}

.btn:hover::before {
    left: 0;
}

.btn span {
    position: relative;
    z-index: 1;
}

.signup-divider {
    height: 2px; 
    width: 500px;
    background-color: #e4002b;
    border: none; 

  }