.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; 
  border: 2px solid #e4002b;
  z-index: 1000;
}

.btn {
  text-decoration: none;
  width: auto;
  margin: 5px;
  align-items: center;
  background-color: #e4002b;
  border-radius: 0px;
  border-width: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Cairo_Play';
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  will-change: box-shadow, transform;
  font-size: 18px;
  border: 2px solid #e4002b;
}

.btn:hover {
  color: red;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.7s ease;
  z-index: 0;
}

.btn:hover::before {
  left: 0;
}

.btn span {
  position: relative;
  z-index: 1;
}

.error-message {
  margin-top: 5px;
}

.field {
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}