.header {
    display:flex;   
    justify-content: space-between;
}

.header__left{
    display:flex;
    align-items: center;
    justify-content: left;
}

.header__center{
    display:flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-right: 50px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 40px;
}



.header__right {
    display:flex;
    align-items: center;
    justify-content: right;
}