.header {
    display:flex;   
    justify-content: space-between;

}

.nav_bar{
    position: static;
  z-index: unset;
  width: auto;
  height: 3.7rem;
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: row;
  border: 0;
  margin-top: 20px;
  margin-right: 60px; 
}

.Mewvies {
    text-decoration: none;
    color: black;
}

.title{
    font-family: 'Cairo_Play';
    display:flex;
    flex: 1;
    align-items: left;
    justify-content: left;
   font-size: 60px;
   margin-left: 80px;
}


@font-face {
    font-family: 'Cairo_Play';
    src: url('../style/Cairo_Play/CairoPlay-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  


.header__right {
    display:flex;
    flex: 1;
}

.nav {
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: 'Cairo_Play';
    overflow: hidden; 
    position: relative; 
    overflow: hidden; 
    position: relative;
    border: none;
    font-size: 25px;
    padding: 10px 20px;
    height: auto;
}

.nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color:#e4002b;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav:hover::after, .nav.selected::after {
    width: 100%;
    left: 0;
}

.nav.selected::after {
    background-color:#e4002b;
}
