.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2cc8f; 
    border: 8px solid #73937e;
    z-index: 1000;
  }
  
  .btn {
    margin: 10px;
    width: 40%;
    background-color: #585563;
    color: white;
    padding: 8px;
    border-radius: 20px;
  }

  .btn:hover {
    background-color: #5b2e48;
  }

  .error-message {
  margin-top: 5px;
  }