.showtimes button:focus {
    background-color: darkslategray;
    color: white; /* Change text color to contrast with the background */
  }
  

  .showtimes button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
   }
   
   .showtimes button:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
   }
   
   .showtimes button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
   }

   
  .checkout-button {
    width: 250px;
    margin: 3px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
   }
   
   .checkout-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   }
   
   .checkout-button:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
   }
   
   .checkout-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
   }


   .seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
  }
  
  .seatContainer {
    width: 0 0 20%;
    padding: 2px;
  }
  
  .seat, .selected {
    width: 30px;  
    height: 30px;
    background-color: #ccc;
    border: 1px solid #fff;
   cursor: pointer;
}
  
  .selected {
    background-color: #4CAF50 /* green selected */
    /* red if already booked */
  }
  
  .selectedSeatsInfo {
    margin-top: 20px;
  }
  
  .checkout {
    margin-top: 20px;
  }
  


  .dropbtn {
      width: 200px;
      margin: 3px;
      align-items: center;
      appearance: none;
      background-color: white;
      border-radius: 2px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono",monospace;
      height: 30px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 15px;
     }

     .selectedSeatsInfo ul {
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
     }

     .movieDetails h2 {
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
     }