.popup{
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ceb992; 
    border: 8px solid #73937e;
    }
    
    .btn {
      margin: 5px;
      width: 40%;
      color: white;
      padding: 3px;
      background-color: #585563;
      border-radius: 20px;
    }
  
    .btn:hover {
      background-color: #5b2e48;
    }
  
    .error-message {
      margin-top: 5px;
    }