.popup{
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: #f2cc8f; 
    border: 8px solid #73937e;
    z-index: 1000;
    }
    
    .btn:hover {
      background-color: #5b2e48;
    }
  
    .error-message {
      margin-top: 5px;
    }